In [1]:
import pandas as pd
import numpy as np

In [2]:
# Interestingly, when using this method of calculating traces and stats
# as need without a database, loading times for the app are comparable
def memoize(func):
  results = {}
  def new_func(x):
    if x not in results:            
      results[x] = func(x)
    return results[x]
  return new_func

@memoize
def collatz(n):
  if n == 1:
    return [1], 1, 1, 0, 1
  if n % 2 == 0:
    trace, steps, largest, evens, odds = collatz(n // 2)
    evens += 1
  else:
    trace, steps, largest, evens, odds = collatz(3 * n + 1)
    odds += 1
  steps += 1
  if n > largest: largest = n
  return [n] + trace, steps, largest, evens, odds

In [3]:
collatz_results = pd.DataFrame([collatz(i) for i in range(2, 10000)])
collatz_results.columns = ['trace', 'steps', 'largest', 'evens', 'odds']
collatz_results['start_number'] = range(2, 10000)
collatz_results = collatz_results.set_index('start_number')

In [4]:
collatz_results.head()

                                      trace  steps  largest  evens  odds
start_number
2                                    [2, 1]      2        2      1     1
3                [3, 10, 5, 16, 8, 4, 2, 1]      8       16      5     3
4                                 [4, 2, 1]      3        4      2     1
5                       [5, 16, 8, 4, 2, 1]      6       16      4     2
6             [6, 3, 10, 5, 16, 8, 4, 2, 1]      9       16      6     3

In [8]:
collatz_results.to_csv('../data/collatz.csv')

In [6]:
pd.read_csv('../data/collatz.csv', index_col=0).head()

                                      trace  steps  largest  evens  odds
start_number
2                                    [2, 1]      2        2      1     1
3                [3, 10, 5, 16, 8, 4, 2, 1]      8       16      5     3
4                                 [4, 2, 1]      3        4      2     1
5                       [5, 16, 8, 4, 2, 1]      6       16      4     2
6             [6, 3, 10, 5, 16, 8, 4, 2, 1]      9       16      6     3